<!--namespaces-->
<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaft.org">

<head>
	<!--incluir themes-->
	<link rel="stylesheet" th:href="@{/css/boostrap/themes/Slate/bootstrap.css}">
</head>

<body>
	<div th:insert="navbar.html" role="navigation"></div>
	<main>
		<section class="container">
			<h1>Buscar Socios</h1>
			<form class="row g-3 needs-validation" th:method="POST" th:action="@{/socio/buscar}" novalidate>
				<div class="col-md-4">
					<label for="validationCustom01" class="form-label">Ingrese su busqueda</label>
					<input type="text" class="form-control" name="inputText" id="inputText"
						placeholder="Escriba aqui" th:value="${INPUTTEXT}" required>
					
				</div>
				<div class="col-md-2">
					<label for="validationCustom01" class="form-label">Parametro de busqueda</label>
					<select class="form-select" name="busquedaPor" id="busquedaPor" required>
						<option value="apellido" th:selected="apellido == ${BUSQUEDAPOR}">Apellido</option>
						<option value="nombre" th:selected="nombre == ${BUSQUEDAPOR}">Nombre</option>
						<option value="numerodocumento" th:selected="numerodocumento == ${BUSQUEDAPOR}">DNI</option>
					</select>
				</div>
				<div class="col-md-2">
					<label for="validationCustom01" class="form-label">Titular ?</label>
					<select type="number" class="form-select" name="titular" id="titular" required>
						<option value="-1" th:selected="-1 == ${TITULAR}">Todos</option>
						<option value="0" th:selected="0 == ${TITULAR}">Titulares</option>
						<option value="1" th:selected="1 == ${TITULAR}">Participantes</option>
					</select>
				</div>
				<div class="col-md-2">
					<label for="validationCustom01" class="form-label">Habilitado ?</label>
					<select type="number" class="form-select" name="habilitado" id="habilitado" required>
						<option value="-1" th:selected="-1 == ${HABILITADO}">Todos</option>
						<option value="0" th:selected="0 == ${HABILITADO}">Activos</optionvalue="1">
						<option value="1" th:selected="1 == ${HABILITADO}">Inactivos</option>
					</select>
				</div>
				<div class="col-md-2 pt-4">
					<button class="btn btn-primary" type="submit">Buscar</button>
				</div>
			</form>
		</section>
		<section class="container mt-5">
			<table class="table table-striped" id="tabla">
				
				<tr>
					<th>ID</th>
					<th>Apellido</th>
					<th>Nombre</th>
					<th>Documento</th>
					<th>Titular</th>
					<th>Habilitado</th>
					<th>Accion</th>
				</tr>
				<!-- rows -->
				<tr th:each="socio : ${SOCIOS}">

					<td th:text="${socio.id}"></td>
					<td th:text="${socio.apellido}"></td>
					<td th:text="${socio.nombre}"></td>
					<td th:text="${socio.numerodocumento}"></td>
					<td th:text="${socio.titular}"></td>
					<td th:text="${socio.habilitado}"></td>
					<td>
						<a class="btn btn-success btn-sm" 
								th:href="@{'/socio/editar/'+${socio.id}}">EDITAR
						</a>
					</td>
				</tr>
				
			</table>
		</section>

	</main>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<script>
		document.getElementById("inputText").focus();
</script>
</html>