<!-- listar los cupones del sitio -->
<!--namespaces-->
<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaft.org">

<head>
	<!--incluir themes-->
	<link rel="stylesheet" th:href="@{/css/boostrap/themes/Slate/bootstrap.css}">
</head>

<body>
	<div th:insert="navbar.html" role="navigation"></div>
	<main>
		<section class="container">
			<h1>Listados de Socios</h1>
			<form class="row g-3 needs-validation" th:method="POST" th:action="@{/socio/listados}" novalidate>
				<div class="col-md-4">
					<label for="validationCustom01" class="form-label">Ingrese su busqueda</label>
					<input type="text" class="form-control" name="palabraBusqueda" id="values" placeholder="Escriba aqui" required>
					<div class="valid-feedback">
						Looks good!
					</div>
				</div>
				<div class="col-md-2">
					<label for="validationCustom01" class="form-label">Parametro de busqueda</label>
					<select class="form-select" name="parametro" id="values" required>
						<option value="Apellido">Apellido</option>
						<option value="Nombre">Nombre</option>
						<option value="DNI">DNI</option>
					</select>
				</div>
				<div class="col-md-2">
					<label for="validationCustom01" class="form-label">Titular ?</label>
					<select class="form-select" name="tipoSocio" id="values" required>
						<option value="Todos">Todos</option>
						<option value="Titulares">Titulares</option>
						<option value="Parcipantes">Participantes</option>
					</select>
				</div>
				<div class="col-md-2">
					<label for="validationCustom01" class="form-label">Habilitado ?</label>
					<select class="form-select" name="estadoSocio" id="values" required>
						<option>Todos</option>
						<option>Activos</option>
						<option>Inactivos</option>
					</select>
				</div>
				<div class="col-md-2 pt-4">
					<button class="btn btn-primary" type="submit">Buscar</button>
				</div>
			</form>
		</section>
		<section class="container mt-5">
			<table class="table table-striped">
				<!--titulos de la tabla-->
				<tr>
					<th>ID</th>
					<th>Apellido</th>
					<th>Nombre</th>
					<th>Documento</th>
					<th>Titular</th>
					<th>Habilitado</th>
					<th></th>
				</tr>
				<!-- rows -->
				<tr th:each="socio : ${SOCIOS}">
					<td th:text="${socio.id}"></td>
					<td th:text="${socio.apellido}"></td>
					<td th:text="${socio.nombre}"></td>
					<td th:text="${socio.numerodocumento}"></td>
					<td th:text="${socio.titular}"></td>
					<td th:text="${socio.habilitado}"></td>
					<td>
						<!-- Button trigger modal -->
						<!--						<button type="button" 
								class="btn btn-danger" 
								data-bs-toggle="modal" 
								data-bs-target="#exampleModal">-->
						<!--						  Eliminar-->
						</button>
					</td>
				</tr>
			</table>
		</section>

	</main>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

</html>