<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlsn:th="http://www.thymeleaft.org">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
  
    <a class="navbar-brand" th:href="@{/home}">	Home</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
      
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Socios
          </a>
          
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="" th:href="@{/socio/alta}">Alta</a></li>
<!--            <li><hr class="dropdown-divider"></li>-->
            <li><a class="dropdown-item" href="" th:href="@{/socio/buscar}">Editar</a></li>
<!--            <li><hr class="dropdown-divider"></li>-->
            <li><a class="dropdown-item" href="" th:href="@{/socio/listados}">Listados</a></li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
      
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
          </a>
          
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link " href="" th:href="@{/categorias/index}">ABM</a></li>
<!--            <li><hr class="dropdown-divider"></li> -->
            <li><a class="nav-link " href="" th:href="@{/sociosCategorias/buscarUsuario}">Asignar Categoria</a></li>
<!--            <li><hr class="dropdown-divider"></li>            -->
          </ul>
        </li>
        <li class="nav-item dropdown">
      
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cuotas
          </a>
          
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link " href="" th:href="@{/cuotas/generarPeriodo}">Generar Periodo</a></li>
<!--            <li><hr class="dropdown-divider"></li> -->
          </ul>
        </li>
        </ul>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
		Hola: (Fulano de Tal)
		</a>
		<a class="btn btn-danger" href="#" th:href="@{/logout}">
		Logout</a>
        
    </div>
  </div>
</nav>
</html>